.nanniesCont {
    margin-top: 110px;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 6.9%;
    padding-right: 6.9%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* max-width: 1440px; */
}

.nanniesCenter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1118px;
}

.filter {

    margin-left: 24px;
    margin-bottom: 32px;
    align-self: flex-start;

}

.filterTitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    color: #8a8a89;
    margin-bottom: 8px;
}

/* .filter select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    outline: none;
    border-radius: 14px;

    padding-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 226px;
    background: #0957c3;
    height: 48px;

    font-weight: 500;
    font-size: 18px;
    line-height: 111%;
    color: #fbfbfb;
} */

/* .filter select option {

    border-radius: 14px;
    width: 226px;
    height: 244px;
    box-shadow: 0 20px 69px 0 rgba(0, 0, 0, 0.07);
    background: #fff;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 111%;
    color: rgba(17, 16, 28, 0.3);
    outline: none;
}

.filter select option:hover {

    color: #11101c;
} */
.reactSelect {
    border-radius: 14px;

    width: 220px;
    height: 48px;
    cursor: pointer;

}


.loadBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 64px auto 0 auto;
    border-radius: 30px;
    padding: 14px 40px;
    width: 159px;
    background: #0957c3;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    border: none;
    cursor: pointer;
}

.noNannies {
    margin-left: 24px;
}