.nanniesCont {
    margin-top: 110px;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 6.9%;
    padding-right: 6.9%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nanniesCenter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1118px;
}

.filter {

    margin-left: 24px;
    margin-bottom: 32px;
    align-self: flex-start;

}

.filterTitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    color: #8a8a89;
    margin-bottom: 8px;
}

.reactSelect {
    border-radius: 14px;
    width: 220px;
    height: 48px;
    cursor: pointer;
}


.loadBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 64px auto 0 auto;
    border-radius: 30px;
    padding: 14px 40px;
    width: 159px;
    background: #0957c3;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    border: none;
    cursor: pointer;
}

.noNannies {
    margin-left: 24px;
}