.loginCont {
    width: 438px;
    background: #fbfbfb;
}

.loginTitleCont {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}



.loginCont h2 {

    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #11101c;
}

.loginCont p {

    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    color: rgba(17, 16, 28, 0.5);
}

.formCont {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.loginInput {
    border: 1px solid rgba(17, 16, 28, 0.1);
    border-radius: 12px;
    padding: 16px 18px 16px 18px;
    width: 438px;
    height: 52px;
    outline: none;
}

.loginInput::placeholder {

    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    color: #11101c;
}

.loginBtn {
    border-radius: 30px;
    padding: 16px 196px;
    width: 438px;
    height: 52px;
    margin-top: 22px;
    background: #0957c3;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25%;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    transition: all 0.3s;
}

.loginBtn:hover {
    background: #074fb3;
}

.error {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    color: rgba(17, 16, 28, 0.5);
}