.registerCont {

    width: 438px;
}

.titleCont {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

.titleCont h2 {

    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #11101c;
}

.titleCont p {

    font-weight: 400;
    font-size: 1 rem;
    line-height: 1.25;
    color: rgba(17, 16, 28, 0.5);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.formInput {

    background: #fbfbfb;
    border: 1px solid rgba(17, 16, 28, 0.1);
    border-radius: 12px;
    padding: 16px 18px 16px 18px;
    width: 438px;
    border-color: none;
    outline: transparent;
    /* height: 52px; */
}

.formInput::placeholder {

    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    color: #11101c;
}

.registerBtn {
    border-radius: 30px;
    padding: 16px 190px;
    width: 438px;
    height: 52px;
    background: #0957c3;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    margin-top: 22px;
    cursor: pointer;
    outline: none;
    border: none;
}

.error {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    color: rgba(17, 16, 28, 0.5);
}